.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: 300px;
    max-height: 450px;
    background-color: #dce7f2;
    border: 1px solid #2a4f73;
}

.flexcontainer>div {
    height: 100px;
    width: 100px;
    background-color: #e46119;
    border: 1px solid #626262;
    margin: 3px;
}

.flexcontainer.column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flexcontainer.column.top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    max-height: 500px;
    height: 500px;
}

.flexcontainer.row.top {
    -webkit-align-items: flex-start;
    align-items: flex-start;l
}

.flexcontainer.row.left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.flexcontainer.column.left {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flexcontainer.row.right {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.flexcontainer.column.right {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.flexcontainer.row.center, .flexcontainer.column.center {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flexcontainer.growshrink {
    -webkit-align-items: center;
    align-items: center;
}

.flexcontainer.growshrink .bigitem {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}

.flexcontainer.growshrink .smallitem {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

.flexcontainer.wrap.row {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flexcontainer.wrap.column {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flexcontainer.wrap.column.nospace {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
}

.flexcontainer.column.pin {
    -webkit-align-items: center;
    align-items: center;
}

.flexcontainer.column.pin .left {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.flexcontainer.column.pin .right {
    margin-left: auto;
}
