a:link {
    text-decoration: none;
}

a:hover {
    color: green;
}

a:active {
    color: yellow;
}

.wrapper {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
  
    text-align: center;
    font: normal 16px verdana,sans-serif;
}

.section {
    padding: 10px;
    border-bottom: 2px solid grey;
}

.header {
    padding: 10px;
    background: tomato;
    -webkit-flex: 1 100%;
}

.nav {
    padding: 10px;
    background: plum;
    -webkit-flex: 1 100%;
}

.nav li {
    display: inline;
    list-style: none;
}

.footer {
    padding: 10px;
    background: lightgreen;
    -webkit-flex: 1 100%;
}

.main {
    background: deepskyblue;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -webkit-justify-content: space-around;
    -webkit-flex: 0 0 33.3333%;
}

.canvas {
    border: 2px solid rgba(156, 80, 172, 0.75);
    border-radius: 5px;
}

.aside-1 {
    background: gold;
    -webkit-flex: 0 0 33.3333%;
}

.aside-2 {
    background: hotpink;
    -webkit-flex: 0 0 33.3333%;
}

@media all and (min-width: 600px) {
  .aside-2 { order: 1; } 
  .main    { order: 2; }
  .aside-1 { order: 3; }
  .footer  { order: 4; }
}
